body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-wrap: wrap;
}

header {
  color: white;
  background: #033048;
  width: 100%;
  height: 117px;
}

header .logo {
  font-weight: 800;
  font-size: 48px;
  float: left;
  padding-left: 470px;
  padding-right: 0;
  padding-top: 25px;
}

header h1 {
  font-weight: 600;
  font-size: 24px;
}

header nav ul {
  padding-right: 425px;
  padding-top: 25px;
}

header nav ul li {
  display: inline-block;
  margin: 0 0 0 40px;
}

header nav {
  font-weight: 600;
  font-size: 24px;
  float: right;
  margin-top: 15px
  margin-right: 200px;
}

header nav a {
  color: #f9e42e;
}

#hero {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 700px;
  background: url("../images/header_bg.jpg") no-repeat top center #131e27;
  padding: 0;
  margin: 0;
  width: 100%;
}

.container {
  width: 960px;
  margin: 0 auto;
}

#hero h1 {
  color: white;
  font-size: 48px;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 60px;
}

div.placeholder {
  background-color: #f9e42e;
  font-weight: 800;
  font-size: 28px;
  border-radius: 5px;
  height: 30px;
  width: 280px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
}

a:link {
  text-decoration: none;
}

a.headerLink {
  color: #033048;
}

a.sectionLink {
  color: white
}

a:hover {
  color: red;
}

main.blog div section a:hover {
  color: red;
}

.sidebar section div img.highlight:hover {
  background-color: red;
}

#benefits {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  background: white;
  height: 594px;
  padding: 0;
  margin: 0;
  /*padding: 100px 0 80px;*/
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

#benefits p {
  margin: 0;
  padding-bottom: 85px;
  width: 600px;
  display: flex;
  flex-direction: flex-start;
}

#benefits ul {
  margin: 50px 0 0 40px;
  list-style: disc;
  width: 600px;
}

.text {
  font-weight: 300;
  font-size: 26px;
  color: #606161;
  background-color: white;
  width: 960px;
  height: 414px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0 auto;
}

#benefits h2 {
  color: #033048;
  font-weight: 600;
  font-size: 40px;
  width: 100%;
  margin-top: 100px;
  padding-bottom: 5px;
}

aside.left {
  width: 3px;
  height: auto;
}

main.blog {
  display: flex;
  width: 100%;
  color: #606161;
  background-color: white;
}

main.blog h1 {
  font-weight: 600;
  font-size: 40px;
  color: #033048;
}

main.blog div {
  min-width: 700px;
  padding-right: 20px;
}

main.blog section {
  height: auto;
  background-color: white;
  display: flex;
  flex-flow: column wrap;
}

main.blog div section {
  padding: 20px 0px 20px 0px;
  border-bottom: 1px solid #033048;
  display: flex;
  align-items: flex-start;
  width: 700px;
}

main.blog div section p {
  font-weight: 300;
  font-size: 24px;
  padding: 15px 0 0 0;
  display: inline-block;
  text-align: left;
  width: 700px;
}

main.blog div section p:first-of-type:first-letter {
  font-weight: 600;
  font-size: 80px;
  line-height: 65px;
  float: left;
  padding: 4px 8px 0 3px;
}

main.blog div section a {
  font-weight: 600;
  font-size: 24px;
  color: #033048;
  display: inline-block;
  width: 100%;
  text-align: right;
}

.sidebar {
  width: 240px;
  height: auto;
  border-color: red;
  padding-top: 45px;
}

.sidebar h2 {
  color: #033048;
}

aside nav ul {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 0;
}

aside nav ul li a {
  font-weight: 300;
  font-size: 24px;
}

aside h2 {
  font-weight: 800;
  font-size: 32px;
  text-align: left;
}

aside p {
  text-align: left;
  width: 220px;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.1;
  color: #033048;
}

aside a {
  font-weight: 600;
  font-size: 22px;
  color: #033048;
}

#testimonial {
  background: url("../images/testimonial_bg.jpg") no-repeat top center #071324;
  color: white;
  width: 100%;
  height: 390px;
  /*padding: 70px 0 70px;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: 0;
}

#testimonial div p {
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  padding-left: 190px;
  padding-right: 190px;
}

div p span {
  font-weight: 600;
}

#signUp {
	background-color: #f9e42e;
  height: 57px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 30px;
}

.endSpace {
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 100%;
  background-color: white;
}

section.placeholder {
  color: white;
  font-weight: 800;
  font-size: 24px;
  border-radius: 5px;
  height: 30px;
  width: 280px;
  margin: auto;
  background-color: #033048;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
}

footer .logo {
  color: #f9e42e;
  font-size: 48px;
  font-weight: 800;
  padding-top: 40px;
  padding-bottom: 50px;
}

footer {
  background: #121212;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 390px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer ul li {
  display: inline-block;
  /*padding: 0 26px 0 2px;*/
  margin: 0 26px 0px;
  font-size: 32px;
}

footer ul li a {
  color: white
}

nav {
  padding-left: 0;
  padding-right: 30px;
}

footer p {
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 15px;
  padding-top: 40px;
  margin-bottom: 0;
}

.hide {
  display: none;
}

#showThisOnClick,
#readLess {
  display: none;
}
