body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-wrap: wrap;
}

header {
  position: fixed;
  color: white;
  background: #033048;
  width: 100%;
  height: 117px;
}

.headerContainer {
  max-width: 960px;
  margin: 0 auto;
}

header .logo {
  font-weight: 800;
  font-size: 3rem;
  float: left;
  margin-top: 25px;
  margin-left: 0;
}

header nav {
  float: right;
  margin-top: 25px;
}

header nav ul li {
  display: inline-block;
  margin: 0 0 0 1.6em;
  font-size: 1.5rem;
}

header nav a {
  color: #f9e42e;
}

#hamburger-trigger{
  min-width: 80px;
  min-height: 40px;
  display: none;
}

#hero {
  margin-top: 117px;
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: url(../images/header_bg.jpg) no-repeat top center #131e27;
}

.container {
  width: 50%;
  margin: 0 auto;
}

#hero h1 {
  color: white;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 60px;
}

.yellowButton {
  background-color: #f9e42e;
  color: #033048;
  font-weight: 800;
  font-size: 28px;
  border-radius: 5px;
  height: 30px;
  width: 280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: red;
}

main.blog div section a:hover {
  color: red;
}

.sidebar section div img.highlight:hover {
  background-color: red;
}

#benefits {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  background: white;
  padding: 100px 0 80px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

#benefits p {
  margin: 0;
  display: flex;
  flex-direction: flex-start;
}

#benefits ul {
  margin: 30px 0 0 1.5em;
  list-style: disc;
}

#benefits p, #benefits ul {
  width: 80%;
  font-weight: 300;
  font-size: 1.7rem;
  color: #606161;
}

#benefits h2 {
  color: #033048;
  font-weight: 600;
  font-size: 2.5rem;
  width: 100%;
  padding-bottom: 5px;
  margin-top: 0;
}

#testimonial {
  width: 100%;
  background: url("../images/testimonial_bg.jpg") no-repeat top center #071324;
  background-size: auto 100%;
  color: white;
  padding: 70px 0 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

blockquote {
  font-size: 2.2rem;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  width: 62%;
  height: auto;
  margin: 0 auto;
}

blockquote span {
  font-weight: 600;
  display: block;
  font-style: normal;
}

main.blog {
  margin-top: 125px;
  color: #606161;
  background-color: white;
}

.blogContainer {
  display: flex;
  width: 960px;
  margin: 0 auto;
}

main.blog h1 {
  font-weight: 600;
  font-size: 2.5rem;
  color: #033048;
}

main.blog img {
  max-width: 100%;
  height: auto;
}

.blogPosts {
  width: 73%;
  padding-right: 2%;
  margin-bottom: 40px;
}

main.blog section {
  height: auto;
  background-color: white;
  display: flex;
  flex-flow: column wrap;
}

.blogPosts section {
  padding: 20px 0px 20px 0px;
  border-bottom: 1px solid #033048;
  display: flex;
  align-items: flex-start;
}

.blogPosts section p {
  font-weight: 300;
  font-size: 1.5rem;
  padding: 15px 0 0 0;
  display: inline-block;
  text-align: left;
}

.blogPosts section p:first-of-type:first-letter {
  font-weight: 600;
  font-size: 5rem;
  line-height: 4.4rem;
  float: left;
  padding: 4px 0.1em 0 0.05em;
}

.blogPosts section a {
  font-weight: 600;
  font-size: 1.5rem;
  color: #033048;
  display: inline-block;
  width: 100%;
  text-align: right;
}

.sidebar {
  width: 25%;
  height: auto;
  border-color: red;
  padding-top: 45px;
}

.sidebar h2 {
  color: #033048;
}

aside nav ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}

aside nav ul li a {
  font-weight: 300;
  font-size: 1.5rem;
}

aside h2 {
  font-weight: 800;
  font-size: 2rem;
  text-align: left;
}

aside p {
  text-align: left;
  width: 100%;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1;
  color: #033048;
}

aside a {
  font-weight: 600;
  font-size: 1.4rem;
  color: #033048;
}

#signUp {
	background-color: #f9e42e;
  height: 57px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1.9em;
}

.blueButton {
  color: white;
  font-weight: 800;
  font-size: 1.5rem;
  border-radius: 5px;
  height: 30px;
  width: 280px;
  margin: auto;
  background-color: #033048;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
}

footer .logo {
  color: #f9e42e;
  font-size: 3rem;
  font-weight: 800;
  padding-top: 40px;
  padding-bottom: 50px;
}

footer {
  background: #121212;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 390px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer ul li {
  display: inline-block;
  margin: 0 0.8em 0;
  font-size: 2rem;
}

footer ul li a {
  color: white
}

footer nav {
  padding-left: 0;
  padding-right: 2em;
}

footer p {
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  padding-bottom: 15px;
  padding-top: 40px;
  margin-bottom: 0;
}

.hide, #showThisOnClick, #readLess {
  display: none;
}

/****************MOBILE****************/

@media (max-width: 768px) {
  header #desktopMenu {
    display: none;
  }

  .headerContainer {
    width: 100%;
  }

  #hamburger-trigger {
    width: 100%;
    display: block;
  }

  #mobileMenu {
    max-height: 0px;
    overflow: hidden;
    transition: 4s;
  }

  #mobileMenu.active {
    max-height: 1000px;
  }

  #mobileMenu li {
    width: 100%;
    min-height: 40px;
    background-color: red;
    margin: 5px 0;
  }

  #mobileMenu li a:hover {
    color: #606161;
  }

  header i.fa {
    color: #f9e42e;
    font-size: 3.15rem;
    display: block;
    text-align: right;
    padding: 0.65em 0.3em 0.65em 0;
  }

  header .logo {
    padding-left: 0.65em;
  }

  #hero {
    background-size: 752px auto;
    height: 435px;
  }

  #hero h1 {
    font-size: 2rem;
    padding-top: 70px;
    padding-bottom: 30px;
  }

  .container {
    width: 90%;
    margin: 0 auto;
  }

  #benefits {
    padding: 50px 0 40px;
  }

  #benefits h2 {
    font-size: 2rem;
  }

  #benefits p, #benefits ul {
    font-size: 1.2rem;
  }

  #benefits ul {
    margin: 30px 0 0 0.5em;
    list-style: disc;
  }

  blockquote {
    font-size: 1.8rem;
  }

  .blogContainer {
    display: flex;
    flex-direction: column;
    margin: 3.5em 0.5em 0 0.5em;
  }

  .blogPosts {
    width: 100%;
    margin-bottom: 0;
  }

  .sidebar {
    width: 100%;
    padding: 0;
  }

  .blogContainer {
    margin-top: 0;
  }

  main.blog h1 {
    font-size: 2rem;
    margin: 0 0 0.2em 0;
  }

  .blogPosts section p:first-of-type:first-letter {
    font-size: 4rem;
    line-height: 4rem;
    padding: 2px 0.08em 0 0.04em;
  }

  .blogPosts section p {
    font-size: 1.2rem;
    padding-top: 5px;
  }

  .blogPosts section a {
    font-size: 1.2rem;
  }

  footer {
    height: 270px;
  }

  footer .logo {
    padding: 0;
  }

  footer p {
    padding: 0;
  }

  div.placeholder, section.placeholder{
    width: 200px;
  }
}
